<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="openMenu()">Open</ion-button>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/','places', 'tabs', 'offers', 'new']">
        <ion-icon name="add" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <div *ngIf="loadedOffers.length <= 0">
            <p>No offers found! Please create one first!</p>
            <ion-button color="primary" routerLink="/places/tabs/offers/new">Offer New Place</ion-button>
        </div>
        <ion-list *ngIf="loadedOffers.length > 0" >
          <ion-item-sliding  *ngFor="let place of loadedOffers" #slidingItem>
            <app-offer-items [place]="place"></app-offer-items>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click) ="onEdit(place?.id,slidingItem)">
                <ion-icon name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
