    <ion-item [routerLink]="['/','places', 'tabs', 'offers', place.id]">
      <ion-thumbnail slot="start">
        <img src={{place.imageUrl}}>
      </ion-thumbnail>
      <ion-label>
      <h1>{{place.title}}</h1>
      <div>
        <ion-icon name="calendar"></ion-icon>
        <ion-text color="primary">{{place.available | date}}</ion-text>
        <span> to</span>
        <ion-icon name="calender"></ion-icon>
        <ion-text color="primary">{{place.to | date}}</ion-text>
      </div>
      </ion-label>
      </ion-item>
