<ion-content color="dark">
<ion-grid>
  <ion-row>
    <ion-col sizeSm>
      <ion-img class="img-responsive" src="/assets/oval.png"></ion-img>
    </ion-col>
    <ion-col>
        <ion-img class="img-responsive" src="/assets/oval.png"></ion-img>
   </ion-col>
    <ion-col>
      <span>00:03</span>
    </ion-col>
    <ion-col color="grey">
      |
    </ion-col>
    <ion-col align-flex-start>
        <div>
          <ion-img class="img-responsive" src="/assets/oval.png"></ion-img>
          </div>
    </ion-col>
    <ion-col>
      00
    </ion-col>
    <ion-col>
      ...
    </ion-col>
    
    <ion-col>
      David Smith
    </ion-col>
    <ion-col>
     
    </ion-col>
  </ion-row>
</ion-grid>
<div class= "lock">
    <ion-img src="/assets/icon.png"></ion-img>
</div>
<div class="center">
    <p>MOVES : 22 </p>
    <p>EST. TIME : 08:15</p>
    <ion-grid>
        <ion-row>
          <ion-col>
    <ion-button expand="block" class="inputNameShift" id="shift" color="danger" text-uppercase>Start Shift</ion-button> 
  </ion-col>
</ion-row>
</ion-grid>
</div>

</ion-content>