<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{placesDetail?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" no-padding>
        <ion-img [src]="placesDetail?.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size-sm="6" offset-sm="3" text-center padding>
          <p>{{placesDetail?.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isbookable">
          <ion-col size-sm="6" offset-sm="3" text-center padding>
              <ion-button color="primary" margin (click)="book()">Book Place</ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
